<%-include('partials/header.ejs', { user}) %>
<!-- <div class="bg-opacity-25" style="background-image: url(https://d2cbg94ubxgsnp.cloudfront.net/Pictures/2000xAny/1/5/2/503152_indexgettyimages488635735_358603.jpg); height:100vh;"> -->
<div class="mx-4 text-center">
<br>
<% if (user) { %>
<h2>Welcome back, <%= user.email %>!</h2>
<% } else { %> 
<h2>Welcome to the site!</h2>
    <% } %> 
    <p>At DiscoverDrug, you can look up a wide range of medications using the FDA drug API and get loads of data, including brand and generic names, clinical indications, routes, administration instructions, and dosing guidelines.</p>
    
    <p>The 'favorites' function allows you to save a drug to your favorites list for easy referencing in the future. You can also comment on any drug, noting specific side effects or other comments.</p>
<br>
<h5>Let's get started!</h5>
<br>
<form method="GET" action="/drugs/results">
<label for="drug-search">Search for a drug:</label>
<input id="drug-search" placeholder="Type a drug name" name="drug">
<button class="btn btn-outline-success" type="submit">Search</button>
</form>
</div>
</div>

<%-include('partials/footer.ejs') %>
