<%-include('../partials/header.ejs') %>

<br>
<h3 class>Log in to your account</h3>

<% if (message) { %>
    <p><%=message%></p>
<% } %>
<br>
<form action="/users/login" method="POST">
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" required/>

    <label for="password">Password:</label>
    <input id="password" type="password" name="password" required/>

    <button type="submit">Login</button>
</form>

<%-include('../partials/footer.ejs') %>