<%-include('../partials/header.ejs', { user }) %>

<br>
<h3 class="text-center">Sign up for an account!</h3>
<br>

<form class="text-center" action="/users" method="POST">
    <label class="text-center" for="email">Email:</label>
    <input id="email" type="email" name="email" required/>
    <br>
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" required/>

    <button type="submit">Sign up</button>
</form>

<%-include('../partials/footer.ejs') %>