<%-include('../partials/header.ejs', { user }) %>

<h3>Hey <%=user.email%>, thanks for logging in to the app!</h3>

<button class="ms-2 btn btn-outline-primary" type="submit" ><a class="text-dark text-decoration-none" href="/">Search Something</a></button>



<%-include('../partials/footer.ejs') %>